@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

/* ================================
        ESTILOS GLOBALES
================================= */
:root {
    --color-azul: #316388;
    --color-naranja: #F26E22;
    --color-amarillo: #F29A2E;
    --color-rojo: #F24C27;
    --color-claro: #FFDF91;
    --color-fondo: #FCF7F1;
    --color-azul-oscuro: #11232F;

    --fuente-principal: "Science Gothic", sans-serif;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --fuente-china: "Chokokutai", sans-serif;
}

body {
    margin: 0;
}

/* ================================
        CABECERA
================================= */
.cabecera {
    padding: 12px 20px;
    background-image: url("../images/header6.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    box-sizing: border-box;
    height: auto;
}

/* Necesario para bajarle la intensidad a la imagen y lo posicionamos en la posición 0 */
.cabecera:before {
    content: "";
    position: absolute;
    inset:0;
    background: rgba(0,0,0,0.60);
    z-index: 0;
}

/* Para posicionar el texto sobre la imagen en la posición 1 */
.cabecera > * {
    position: relative;
    z-index: 1;
}

.cabecera::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-rojo);
    z-index: 2;
}

/* Título principal */
.titulo-principal {
    font-family: var(--fuente-china);
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: var(--color-rojo);
}

.cabecera_titulo_buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1;
}

/* Logo */
.logopokewiki {
    height: 100%;
    max-height: 100px;
    width: auto;
    object-fit: contain;
    flex: 0 0 auto;
}

/* Buscador */
.buscador {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    order: 2;
}

.buscador input {
    width: 60%;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
}

/* Icono menú */
.icono-menu {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color-naranja);
    flex: 0 0 auto;
}

/* Menú desplegable */
.menu-desplegable {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(17, 35, 47, 0.95);
    backdrop-filter: blur(5px);
    padding: 20px;
    display: none;
}

.menu-desplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-desplegable ul li a {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-claro);
    transition: 0.3s ease;
    background: linear-gradient(to bottom, var(--color-amarillo), var(--color-naranja));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; }

.menu-desplegable ul li a:hover {
    background: linear-gradient(to bottom, var(--color-rojo), var(--color-naranja));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-menu {
    display: none;
}

.btn-menu:checked ~ .menu-desplegable {
    display: block;
}

/* Responsividad */
@media (max-width: 768px) {
    .cabecera_titulo_buscador{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .cabecera {
        justify-content: center;
        gap: 10px;
    }

    .titulo-principal {
        font-size: 1.8rem;
    }

    .buscador input {
        width: 80%;
        max-width: 250px;
    }
}

/* ================================
   SECCIONES
================================= */
/* ===== MAIN =====  */
main {
    padding: 10px 0;
    background-color: var(--color-fondo);
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    display: flex;
}

/* ===== INDEX =====  */
.introduccion-PokeWiki {
    width: 65%;
    color: var(--color-naranja);
    padding: 8px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.introduccion-PokeWiki h2 {
    font-family: var(--fuente-principal);
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--color-azul);
}

.introduccion-PokeWiki p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: var(--fuente-secundaria);
}

.tipos-pokemon {
    width: 100%;
    background-color: var(--color-claro);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.tipos-pokemon h2 {
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: center;
    color: var(--color-azul);
}

.figura-tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.figura-tipo img {
    width: 80px;
    max-width: 100%;
    height: auto;
}

.figura-tipo figcaption {
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    color: var(--color-azul);
    margin: 0;
}

.index_section_uno,
.index_section_dos {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-rojo);
    border-radius: 20px;
    padding: 0;
    gap: 20px;
    overflow: hidden;
}

.index_section_uno h2,
.index_section_dos h2 {
    font-family: var(--fuente-principal);
    width: 100%;
    padding: 10px;
    background-color: var(--color-claro);
    color: var(--color-azul);
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.index_section_uno img,
.index_section_dos img {
    width: 100%;
    max-height: 250px;
    display: block;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
}

.index_section_uno p,
.index_section_dos p {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    font-family: var(--fuente-secundaria);
}

.contenedor_secciones_index {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.index_section_uno li,
.index_section_dos li {
    padding: 0 15px;
    font-family: var(--fuente-secundaria);
}

.index_section_uno ol li{
    margin-bottom: 15px;
}

.index_section_dos ul li {
    list-style-type: "✨  ";
    padding-left: 4px;
}

/* Responsividad */
@media (max-width: 768px) {
    .index_section_uno,
    .index_section_dos {
        width: 90%;
    }

    .contenedor_secciones_index {
        flex-direction: column;
        align-items: center;
    }

    /* Stacking for mobile */
    .logopokewiki {
        order: 0;
    }
    .titulo-principal {
        order: 1;
    }
    .buscador {
        order: 2;
    }
    .icono-menu {
        order: 3;
    }
}

/* ===== ABOUT =====  */
.introduccion-about {
    width: 65%;
    padding: 8px;
    text-align: center;
    align-items: center;
    margin: auto;
    color: var(--color-naranja);
}

.introduccion-about h2 {
    font-family: var(--fuente-principal);
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    color: var(--color-azul);
}

.introduccion-about p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 0;
    font-family: var(--fuente-secundaria);
}

.introduccion-about img {
    width:800px;
    max-width: 100%;
    height: auto;
}

.introduccion-about figcaption {
    font-size: 0.9rem;
    color: var(--color-rojo);
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
    font-family: var(--fuente-principal);
}

.quienes_somos_about {
    width: 100%;
    background-color: var(--color-claro);
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quienes_somos_about h2 {
    width: 65%;
    font-family: var(--fuente-principal);
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-rojo);
}
.quienes_somos_about p {
    width: 65%;
    margin: auto;
    font-family: var(--fuente-secundaria);
    color: var(--color-azul);
}

.equipo-about {
    width: 65%;
    padding: 8px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    color: var(--color-naranja);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipo-about h2 {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: var(--color-azul);
}

.equipo-about p {
    margin: auto;
    font-family: var(--fuente-secundaria);
    color: var(--color-naranja);
}

.equipo-imagen img {
    width:100%;
    max-width: 500px;
    height: auto;
    border-radius: 70%;
    display: block;
    margin-bottom: 10px;
}

.equipo-about figcaption {
    font-size: 0.9rem;
    color: var(--color-rojo);
    margin-bottom: 0;
    font-style: italic;
    font-family: var(--fuente-principal);
}

.equipo-lista li:before {
    content: "✨ ";
    margin-right: 10px;
    color: var(--color-rojo);
}

.equipo-lista {
    font-family: var(--fuente-secundaria);
    color: var(--color-azul);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.equipo-lista li {
    display: flex;
    align-items: center;
}

.equipo-lista li strong {
    color: var(--color-rojo);
    font-weight: bold;
    margin-right: 8px;
}

.valores-about {
    width: 65%;
    margin: auto;
    padding: 20px 0;
    color: var(--color-azul);
    font-family: var(--fuente-secundaria);
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
}

.valores-about h2 {
    font-family: var(--fuente-principal);
    font-size: 1rem;
    color: var(--color-rojo);
    text-align: center;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valores-about ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.valores-about li:before {
    content: "✔️ ";
    margin-right: 8px;
    color: var(--color-naranja);
}

.valores-about li {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
}

/* ================================
   SERVICIOS
================================= */
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* perspective en el contenedor para que funcione la 3D */
    perspective: 1000px;
}

section .wrapper {
    min-height: 400px;
}


.inner {
    --w: 120px;
    --h: 170px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    /* perspective aplicada en el wrapper; aquí preservamos 3D */
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotateX));
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotateX(var(--rotateX)) rotateY(0);
    }
    to {
        transform: rotateX(var(--rotateX)) rotateY(1turn);
    }
}

.card {
    position: absolute;
    /* usar rgb(...) porque luego usamos rgba(...) en el gradiente */
    border: 2px solid rgb(var(--color-card));
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    /* aseguramos que la transform esté en una línea y termine con ; */
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
    backface-visibility: hidden;
    display: block;
}

.img {
    width: 100%;
    height: 100%;
    background-size: contain;       /* contain = no se corta */
    background-position: center;    /* centrada */
    background-repeat: no-repeat;

    /* Mantener el gradiente que tenías */
    background-image:
            radial-gradient(
                    circle,
                    rgba(var(--color-card), 0.2) 0%,
                    rgba(var(--color-card), 0.6) 80%,
                    rgba(var(--color-card), 0.9) 100%
            );
}

/* estilos opcionales para ver mejor las tarjetas */
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}
/* ================================
   FOOTER
================================= */
.pie {
    background-color: var(--color-azul-oscuro);
    padding: 3px 20px;
    color: var(--color-claro);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Títulos */
.pie h3 {
    font-size: 1.3rem;
    margin-bottom: 4px;
    background: linear-gradient(to bottom, var(--color-amarillo), var(--color-naranja));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

/* Quitar listas */
.pie ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Enlaces del footer */
.pie ul li a {
    color: var(--color-claro);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.pie ul li a:hover {
    color: var(--color-naranja);
}


.paginas-sociales,
.contacto {
    flex: 0 0 250px;
    max-width: 400px;
    width: 45%;
    margin: 0 200px;
    font-family: var(--fuente-secundaria);
}

.pie p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--fuente-principal);
}

/* Responsividad */
@media (max-width: 768px) {
    .pie {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .paginas-sociales,
    .contacto {
        width: 90%;
        max-width: none;
    }
}